<header class="masthead">
<ul class="language-nav">
  <a href="#"><li>CSS</li></a>
  <a href="#"><li>HTML</li></a>
  <a href="#"><li>Javascript</li></a>
  <a href="#"><li>Ruby</li></a>
</ul>

<img class = "logo" src="assets/AA_Times_Logo.png"/>
<ul class = "masthead-links">
  <li>Tuesday, October 18, 2016</li>
  <a href ="#"><li>Today’s Paper</li></a>
  <a href ="#"><li>Video</li></a>
  <button><li>77°F</li></button>
  <button><li>AAO +100%</li></button>
</ul>

</header>
