.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: $sans-serif;
  font-size: 16px;
}

.section_nav {
  display: flex;
  flex-direction: row;
}

.section_nav li{
  margin-left: 20px;
  margin-right: 20px;
}

.section_nav a{
  font-style: underline;
}

.section_nav a:hover{
  background-color: $gray;
}
